<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Telerik UI for ASP.NET Core 2021.1.224(AdditionalPackages)" value="C:\Program Files (x86)\Progress\Telerik UI for ASP.NET Core R1 2021\" />
    <add key="Telerik UI for ASP.NET Core 2021.1.224(MainPackage)" value="C:\Program Files (x86)\Progress\Telerik UI for ASP.NET Core R1 2021\wrappers\aspnetcore\Binaries\AspNet.Core" />
  </packageSources>
</configuration>