@{ 

    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

   <ejs-chart id="container" title="Soil Chart" width="50%">


   </ejs-chart>

    <div class="card-columns">

        <div class="card">
            <div class="card-header">Current Temperature</div>
            <div class="card-body">

            </div>
        </div>

    </div>


</div>



